.market-img{
    width: 18rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-special{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px;
}

.page-bg{
    background-color:rgb(245, 243, 239);
}

.lending_number{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 90px;
}

.product{
    width: 18rem;
    height: max-content;
}

.page-bg-bisquit{
    background-color:rgb(248, 243, 238);
}

.inp{
    border-radius: 7px;
}

.ph{
    width: 98%!important;
}